* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    height: auto;
    display: block;
}

body {
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(117, 160, 209);
    color: white;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 5%;
}

.header-content p {
    font-size: 1.5em;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
    padding: 12%;
    width: 100vw;
    color: #464545;
    height: 100vw;
}

.account-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
    padding: 3% 5%;
    border: 1px solid #c9c3c3;
    font-weight: 700;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    color: #3d3c3c;
    }

    .account-type div {
        display: flex;
        align-items: center;
        width: 50%;
    }

    .account-type div img {
        margin-right: 3%;
        border: 1px solid rgb(117, 160, 209);
        padding: 3%;
        border-radius: 50%;
    }

    .bold {
        color: rgb(117, 160, 209);
        font-size: 2em;
        font-weight: 700;
    }
    
@media (max-width: 767px) {
    main {
        margin-top: 20%;
    }
}