* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    text-align: center;
    background-color:  #64a3ec;
    color: #fff;
    padding: 0.5rem 0;
   position: sticky;
    top: 0; 
    width: 100%;
    z-index: 1000;
    overflow: hidden;
}

.header-2-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   overflow: hidden;
   box-shadow: 0 10px 2px #ddd;
}

.header-2-container div {
    padding: 1.5rem;
}

.h-2-1 { 
  border: 1px solid;
  font-size: 1.5rem; 
  background-color:  #64a3ec;
  color: white;
  width: 5%;
}

.h-2-2 {
border: 1px solid; 
font-size: 1.5rem; 
margin-left: 0.1rem;
background-color:  #64a3ec;
color: white;
width: 95%;
}

.img-container {
    padding-left: 0.5rem;
}

.header-p {
    display: flex;
    position: absolute;
    left: 45%;
    right: 0;
    font-weight: bold;
}

.main-container {
    padding: 0.5rem 2rem;
    font-size: small;  
}

.app-condition {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

section {
    margin: 0;
    border-bottom: 10px solid #ddd;
}

#page5 {
  border-bottom: none;  
}

h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #333;
}

ul {
    list-style: none;
    padding-left: 0;
}

section ul li {
    background: #f9f9f9;
    margin-bottom: 1rem;
    padding: 1rem;
    border-left: 5px solid #333;
}

ul li strong {
    display: block;
    margin-bottom: 0.5rem;
}

.button-container {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    max-width: 100vw;
    overflow: hidden;
    padding: 0 2.5rem;
}

.button-container button {
    padding: 0.6rem 1.5rem;
    text-align: center;
    background-color: rgba(255, 255, 0, 1);
    border-radius: 3px;
    border: none;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: row;
        align-items: center;
    }
    
    nav ul li {
        margin-bottom: 0.5rem;
    }

    ul li {
        padding: 0.5rem;
    }

    /* .header-p {
        position: absolute;
        font-weight: bold;
        left: 40%;
    } */
}
